body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
    overflow: hidden;
}

* {
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

.header {
}

.send-container {
    align-self: center;
    display: block;
    text-align: center;
    width: 70%;
}

.article-input {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
}

.send-btn {
    align-self: center;
    width: 100%;
    height: 40px;
}